<div class="card" style="width: 18rem;">
  
  {% if instance.image %}
  <a href="{{ instance.get_absolute_url}}">
  <img class="card-img-top" src="{{ instance.image.url }}" alt="{{ instance.title}} logo">
  </a>
  {% endif %}
  <div class="card-body">
    <h5 class="card-title"><a href="{{ instance.get_absolute_url}}">{{ instance.title }}</a></h5>
    <p class="card-text">{{ instance.description|truncatechars:50}}</p>
    <a href="{{ instance.get_absolute_url}}" class="btn btn-primary">View</a>
  </div>
</div>