{% extends 'base/base.html' %}

{% block content %}


 <div class="container">
     <div class="row">
         <div class="col-12 col-md-6">
                <h1> {{ object.title}}</h1>
                 </br>
                {{object.description|linebreaks}} </br>
            
                {% if object.image %}
                <img src='{{object.image.url}}' alt="" class="img-fluid">
                {% endif %}
         </div>
         <div class="col-12 col-md-6">
             {% include 'products/snippets/cart_update.html' with product=object  cart=cart %}
             
         </div>
     </div>
 </div>
   

{% endblock content %}





